Part1-XML-DTD/resources/XML2/Librairie.dtd

<!ELEMENT librairie (enTete,livre+)

<!ELEMENT enTete (strong|em|img)*>
<!ELEMENT strong (#PCDATA)>
<!ELEMENT em (#PCDATA)>
<!ELEMENT img EMPTY>
<!ATTLIST img src CDATA #REQUIRED
              title CDATA #IMPLIED>

<!ELEMENT livre (titre,auteur+,description,prix)>
<!ATTLIST livre ISBN (0,1,2,3,4,5,6,7,8,9,-)+ #REQUIRED>
<!ENTITY % contact SYSTEM "(mail|tel)*">
